<template>
    <div>
      <h1>inicio</h1>
      
      <p>{{usuario.email}} - {{usuario.uid}} </p>
    </div>
</template>

<script>
import { mapState } from 'vuex'
    export default {
        name:"Inicio",
        computed:{
          ...mapState(['usuario'])
        }
    }
    
</script>

<style lang="scss" scoped>

</style>