<template>
    <div>
         <h1>LogIn</h1>
         <form @submit.prevent="ingresoUsuario({email, password})">
             <input type="email"
             placeholder="Ingrese email"
             v-model.trim="email"
             >
             <input type="password"
             placeholder="Ingrese el password"
             v-model.trim="password">
             <button type="submit" :disabled="!desactivar">Iniciar sesión</button>
         </form>
         {{error}}
    </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
    export default {
        name:"Login",
        data() {
            return {
                email: '',
                password:''
            }
        },
        methods: {
            ...mapActions(['ingresoUsuario'])
        },
        computed:{
             ...mapState(['error']),
            desactivar(){
                return this.password.trim() !== '' && this.password.length > 5
            }
        }
    }
</script>

