<template>
    <div>
       <h1>Registro de usuarios</h1>
       <form @submit.prevent="createUser">
           <input 
           type="email"
           placeholder="Ingrese su correo"
           v-model.trim="email"
           >
           <input 
           type="password"
           placeholder="Ingrese su contraseña"
           v-model.trim="password">
           <input 
           type="password"
           placeholder="Repita su contraseña"
           v-model.trim="passwordVerified">
           <button type="submit" :disabled="!desactivar">Registrar usuario</button>
       </form>
       {{error}}
    </div>
</template>

<script>
import {mapActions, mapState} from 'vuex';
    export default {
        name: "Registro",
        data() {
            return {
                email: '',
                password: '',
                passwordVerified: ''
            }
        },
        methods: {
            ...mapActions(['crearUsuario']),
            createUser(){
                let user = {
                    email: this.email, 
                    password: this.password
                }
                
                // const res =  /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,4})+$/.test(this.email);
                // if(this.email === '' || res === false){
                //    console.log('campo email oblogatorio');
                //    return
                // }
                // if(this.password !== this.passwordVerified){
                //     console.log('las contraseñas deben ser iguales');
                //     return
                // }
                // if(this.password.length < 6 || this.passwordVerified < 6 ){
                //     console.log('las contraseñ deben de ser mayor a 8 caracteres');
                //    return
                // }
                this.crearUsuario(user);
            }
        },
        computed:{
            ...mapState(['error']),
            desactivar(){
                return this.password === this.passwordVerified && this.password.trim() !== '' && this.password.length > 5
            }
        }
        
    }
</script>

<style lang="scss" scoped>

</style>