<template>
  <div id="app">
    <div id="nav">
      <router-link v-if="userExist" to="/">Inicio</router-link> |
      <router-link v-if="!userExist" to="/registro">Registro</router-link> |
      <router-link v-if="!userExist" to="/login">LogIn</router-link> |
      <button v-if="userExist"  @click="cerrarSesion">Cerrar sesión</button>
    </div>
    <router-view/>
  </div>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex'
export default {
  methods:{
    ...mapActions(['cerrarSesion'])
  },
  computed: {
    ...mapGetters(['userExist'])
  }
  
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
